@{
    ViewBag.Title = "Yes to Jess";
}

<div class="jumbotron">
    <h1 class="push-height">say Yes to Jess</h1>
</div>
<div class="row">
    <a href="mailto:yestojesssa@gmail.com">Contact Jess to schedule your photoshoot.</a>
    <p>I am thrilled to announce some upcoming work with two talented local Photographers! We have two different concepts that we have been working on and I am looking forward to the end product!</p>
    <p>If you are interested in booking with me, send an email and lets talk!</p>
</div>
<section class="container-fluid">
    <h4 class="text-center">Photos by Kevin Washington of Washboy Photography | Makeup by Stevey Leigh Colonna</h4>
    <div class="row text-center">
        <figure class="col-sm-6 col-md-4 col-lg-3 ">
            @*<p>Some text..</p>*@
            <img src="~/images/jess001md.jpg" class="img-responsive collectionImg thumb" alt="Jess image #1">
        </figure>
        <figure class="col-sm-6 col-md-4 col-lg-3">
            @*<p>Some text..</p>*@
            <img src="~/images/jess046md.jpg" class="img-responsive collectionImg thumb" alt="Jess image #46">
        </figure>
        <figure class="col-sm-6 col-md-4 col-lg-3">
            @*<p>Some text..</p>*@
            <img src="~/images/jess018md.jpg" class="img-responsive collectionImg thumb" alt="Jess image #18">
        </figure>
        <figure class="col-sm-6 col-md-4 col-lg-3">
            @*<p>Some text..</p>*@
            <img src="~/images/jess049md.jpg" class="img-responsive collectionImg thumb" alt="Jess image #49">
        </figure>
        <figure class="col-sm-6 col-md-4 col-lg-3">
            @*<p>Some text..</p>*@
            <img src="~/images/jess021md.jpg" class="img-responsive collectionImg thumb" alt="Jess image #21">
        </figure>
        <figure class="col-sm-6 col-md-4 col-lg-3">
            @*<p>Some text..</p>*@
            <img src="~/images/jess036md.jpg" class="img-responsive collectionImg thumb" alt="Jess image #36">
        </figure>
        <figure class="col-sm-6 col-md-4 col-lg-3">
            @*<p>Some text..</p>*@
            <img src="~/images/jess017md.jpg" class="img-responsive collectionImg thumb" alt="Jess image #17">
        </figure>
        <figure class="col-sm-6 col-md-4 col-lg-3">
            @*<p>Some text..</p>*@
            <img src="~/images/jess007md.jpg" class="img-responsive collectionImg thumb" alt="Jess image #7">
        </figure>
    </div>
</section>