@{
    ViewBag.Title = "Yes to Jess";
}

<div class="jumbotron">
    <h1 class="push-height">say Yes to Jess</h1>
</div>
<div class="row">
    <div id="dancingS" class="m-auto">
        <a href="mailto:yestojesssa@gmail.com">Contact Jess to schedule your photoshoot!</a>
    </div>
    <h3 id="announce">I am thrilled to announce some upcoming work with two talented local Photographers! We have two different concepts that we have been working on and I am looking forward to the end product!  If you are interested in booking with me, send an email and lets talk!<br /></h3>

</div>
<hr />
<h4 class="text-center">Photos by Kevin Washington of Washboy Photography<br />Makeup by Stevey Leigh Colonna</h4>
<hr />
<div class="container">
    <!-- Images numbered left -> right / top -> bottom -->
    <div class="row">
        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
            <div class="row h-50">
                <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
                    <div class="box">
                        <!-- #1 -->
                        <img src="~/Images/jess001.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                    </div>
                </div>
            </div>
            <div class="row h-50 h-95">
                <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                    <div class="box">
                        <!-- #3 -->
                        <img src="~/Images/jess044.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                    <div class="box">
                        <!-- #4 -->
                        <img src="~/Images/jess016.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-25">
                <div class="box">
                    <!-- #2 -->
                    <img src="~/Images/jess018.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                </div>
            </div>
            <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-75">
                <div class="box">
                    <!-- #5 -->
                    <img src="~/Images/jess046.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-25">
                <div class="box">
                    <!-- #6 -->
                    <img src="~/Images/jess007.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                </div>
            </div>
            <div class="col-md-12 col-sm-6 co-xs-12 gal-item h-75">
                <div class="box">
                    <!-- #8 -->
                    <img src="~/Images/jess050.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
            <div class="row h-50">
                <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
                    <div class="box">
                        <!-- #7 -->
                        <img src="~/Images/jess045.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                    </div>
                </div>
            </div>
            <div class="row h-50 h-95">
                <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                    <div class="box">
                        <!-- #9 -->
                        <img src="~/Images/jess042.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                    <div class="box">
                        <!-- #10 -->
                        <img src="~/Images/jess021.jpg" class="img-ht img-fluid rounded thumb thumbnailImg">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>