body {
}

.jumbotron {
    background-image: url('../Images/jumbotronJ26.jpg');
    background-size: cover;
    color: #74b690;
    font-family: 'Dancing Script', cursive;
}

.push-height {
    height: 400px;
}

p .announce {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5em;
}

/*  Start Masonary Gallary  */
.gal-item {
    overflow: hidden;
    padding: 8px;
}

    .gal-item .box {
        height: 100%;
        overflow: hidden;
    }

.box img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.thumbnailImg {
    width: auto;
    height: 100%;
    margin: 1%;
    object-fit: cover;
    overflow: hidden;
}

.thumnnailImg95 {
    width: auto;
    height: 95%;
    margin: 1%;
    object-fit: cover;
}

.h-95 {
    height: 95%;
}
/*  End Masonary Gallary  */

/* Lightbox  */
.thumb {
    cursor: pointer;
}

#lightbox-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    padding-top: 65px;
    display: none;
    overflow-x: scroll; /* This allows the lightbox to scroll down instead of the page scrolling behind it when the img drops below the fold */
}

    #lightbox-container p {
        color: #fff;
    }

    #lightbox-container img {
        border: 10px solid gray;
        margin: auto;
    }
/*  End Lightbox  */