body {
}

.jumbotron {
    background-image: url('../Images/jumbotronJ26.jpg');
    background-size: cover;
    color: #74b690;
}

.push-height {
    height: 400px;
}

figure {
    margin: 3%;
    /*border: 3px solid purple;*/
    /*box-shadow: 7px 7px 7px rgba(96, 44, 136, .5);*/
}

    /* Image Collection Display */
    figure .collectionImg {
        /*margin: 7%;*/
        display: inline-block;
        /*width: auto;*/
        width: 87%;
        box-shadow: 7px 7px 7px rgba(96, 44, 136, .5);
        /*border: 3px solid purple;*/
    }

/* Lightbox  */
.thumb {
    cursor: pointer;
}

#lightbox-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    padding-top: 65px;
    display: none;
    overflow-x: scroll; /* This allows the lightbox to scroll down instead of the page scrolling behind it when the img drops below the fold */
}

    #lightbox-container p {
        color: #fff;
    }

    #lightbox-container img {
        border: 10px solid gray;
        margin: auto;
    }
